@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentona Light';
    src: local('Gentona Light'), url(../fonts/otf/Gentona-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Gentona Medium';
    font-weight: 900;
    src: local('Gentona Medium'), url(../fonts/otf/Gentona-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Gentona Semibold';
    font-weight: 900;
    src: local('Gentona Semibold'), url(../fonts/otf/Gentona-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Gentona Bold';
    src: local('Gentona Bold'), url(../fonts/otf/Gentona-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Gentona Extrabold';
    src: local('Gentona ExtraBold'), url(../fonts/otf/Gentona-ExtraBold.otf) format('opentype');
}

@font-face {
    font-family: 'Gentona Medium 700';
    font-weight: 700;
    src: local('Gentona Medium 700'), url(../fonts/otf/Gentona-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Gentona Book';
    font-weight: 700;
    src: local('Gentona Book'), url(../fonts/otf/Gentona-Book.otf) format('opentype');
}

@font-face {
    font-family: 'Gentona Medium 700';
    font-weight: 700;
    src: local('Gentona Medium 700'), url(../fonts/otf/Gentona-SemiBoldItalic.otf) format('opentype');
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
